
div {
    height: 100px;
    width: 100px;
    background-color: rgb(4, 0, 255);
    animation-name: bounce;
    animation-duration: 2s;

    border-radius: 50%;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(100px);
    }
}
