body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #0a0a0a;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.logo {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    background-color: #222222;
    padding: 10px 10px ;
}

.heading {
    font-size: 24px;
    
}

.install-button {
    background-color: #d4ff00;
    color: #000;
    border: none;
    padding: 12px 30px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px;
}

.watch-image {
    width: 100%;
    margin-top: 40px;
}