body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    
    height: 499px;
    width: 500px;
    background-image: url(animal-4361698_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px black solid;
    border-radius: 10px;
    box-shadow: 4px 4px 50px 4px black;
    transition: 0.3s;
}


div:hover{
    
    transform: scale(1.2);
    box-shadow: 6px 6px 50px 6px black;
    background-color: rgb(0, 0, 39);
    
}

/* cover პირდაბირ ადიდებს დივის size -ზე */
/* contain ადიდებს დივის size მაგრამ  width და height ერთ საიზზე */
/* repeat - ამეორებს ფოტოს დივის შიგნით */
/*  no repeat არ იმეორებს */