body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2c3e50;
  }

  .container {
    position: relative;
    width: 150px;
    height: 150px;
  }

  .circle {
    position: absolute;
    border-radius: 50%;
  }

  .circle.yellow {
    width: 70px;
    height: 70px;
    background-color: #f1c40f; 
    top: 20%;
    left: 75%;
    transform: translate(-50%, -50%);
  }

  .circle.green {
    width: 50px;
    height: 50px;
    background-color: #2ecc71; 
    left: 60%;
    transform: translateX(-50%);
    animation: rotateAround 8s infinite;
  }

  @keyframes rotateAround {
    0% {
      transform: rotate(0deg) translate(75px) rotate(0deg); 
    }
    25% {
      transform: rotate(90deg) translate(75px) rotate(-90deg); 
      
    }
    50% {
      transform: rotate(180deg) translate(75px) rotate(-180deg); 
      
    }
    75% {
      transform: rotate(270deg) translate(75px) rotate(-270deg); 
      
    }
    100% {
      transform: rotate(360deg) translate(75px) rotate(-360deg);
    }
  }