
.container {
    display: flex; /* კონტეინერს ვუზიარებთ Flexbox განლაგებას */
    flex-wrap: wrap; /* თუ საჭიროა, ელემენტები გადავაახლებენ ახალ ხაზზე */
  }
  
.box {
    display: flex;
    flex-wrap: wrap; 
    
  }
.inner{
    width: 60px; 
    height: 30px;
    background-color: lightcoral; /
  }  