body {
    font-family: Arial, sans-serif;
    background-color: #a8a8a8;
    margin: 0;
    padding: 20px;
    font-weight: 1000;
    
}

h1 {
    text-align: center;
    
    text-shadow: 2px 2px 5px ;
}


.product-image {
    max-width: 300px;
    border-radius: 10px;
}


.product-details {
    margin-top: 20px;
    text-decoration: none;
    
}
.price {
    font-size: 1.5em;
    color: green;
}
.description {
    margin-top: 10px;
}
.add-to-cart {
    display: block;
    width: 7%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}
.add-to-cart:hover {
    background-color: #218838;
}